
<div class="container p-4">
  <div class="row">
    <div class="col-12 col-md-6 m-auto bg-rgb-pink shadow p-3 rounded">
          <form>
              <h1 class="custom-color mb-4 text-center">Cadastro de Produto</h1>
              <hr>
          <div class="row">
              <div class="col-3">
                  <!--Código-->
                  <div class="mb-3">
                      <label for="codigo" class="form-label">Código</label>
                      <input type="text" class="form-control input-focus" id="codigo" name="codigo">
                  </div>
              </div>
              <div class="col">
                  <!--Nome-->
                  <div class="mb-3">
                      <label for="nome" class="form-label">Nome</label>
                      <input type="text" class="form-control input-focus" id="nome" name="nome">
                  </div>
              </div>
          </div>
          <div class="row">
              <!--Descrição-->
              <div class="mb-3">
                  <label for="descricao" class="form-label">Descrição</label>
                  <input type="text" class="form-control input-focus" id="descricao" name="descricao">
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <!--Preço-->
                  <div class="mb-3">
                      <label for="preco" class="form-label">Preço</label>
                      <input type="text" class="form-control input-focus" id="preco" name="preco">
                  </div>
              </div>
              <div class="col">
                  <!--Quantidade-->
                  <div class="mb-3">
                      <label for="quantidade" class="form-label">Quantidade</label>
                      <input type="text" class="form-control input-focus" id="quantidade" name="quantidade">
                  </div>
              </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-rgb-pink btn-text-light btn-hover shadow mt-3">Salvar</button>
          </div>
        </form>
      </div>
      </div>

</div>
