<div class="p-4 bg-rgb">
  <div class="row">
    <div class="col-12 col-md-6 m-auto bg-rgb shadow p-3 rounded">
          <form [formGroup]="formGroupProduct">
              <h1 class="custom-color mb-4 text-center">Cadastro de Produto</h1>
              <hr>
          <div class="row">

              <div class="col">
                  <!--Nome-->
                  <div class="mb-3">
                      <label for="nome" class="form-label custom-label">Nome</label>
                      <input type="text" class="form-control border-color input-focus" id="nome" formControlName = "name">
                    <small *ngIf="name.touched && name.hasError('minlength')" class="text-danger">
                      *O nome tem que ter no mínimo 3 caracteres
                    </small>
                    <small *ngIf="name.touched && name.hasError('required')" class="text-danger">
                      *O nome é requirido!
                    </small>
                  </div>
              </div>
          </div>
          <div class="row">
              <!--Descrição-->
              <div class="mb-3">
                  <label for="descricao" class="form-label custom-label">Descrição</label>
                  <input type="text" class="form-control border-color input-focus" id="descricao" formControlName = "desc">
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <!--Preço-->
                  <div class="mb-3">
                      <label for="preco" class="form-label custom-label">Preço</label>
                      <input type="number" class="form-control border-color input-focus" id="preco" formControlName = "price">
                      <small *ngIf="price.touched && price.hasError('required')" class="text-danger">
                        *O preço é requirido
                      </small>
                      <small *ngIf="price.touched && price.hasError('pattern')" class="text-danger">
                        *Somente números são permitidos
                      </small>
                  </div>
              </div>
              <div class="col">
                  <!--Quantidade-->
                  <div class="mb-3">
                      <label for="quantidade" class="form-label custom-label">Quantidade</label>
                      <input type="number" class="form-control border-color input-focus" id="quantidade" formControlName = "qnt">
                      <small *ngIf="qnt.touched && qnt.hasError('required')" class="text-danger">
                        *A quantidade é requirida
                      </small>
                      <small *ngIf="qnt.touched && qnt.hasError('pattern')" class="text-danger">
                        *Somente números são permitidos
                      </small>
                    </div>
              </div>
          </div>
          <!--button-->
          <div class="text-center d-grid gap-2">
            <button
            type="submit"
            class="btn btn-rgb btn-text-light btn-hover shadow-sm mt-3"
            [disabled]="!formGroupProduct.valid"
            (click)="save()">

            Salvar
            
          </button>
          </div>
        </form>
        <!--tabela-->
        <hr>
        <h2 class="custom-color mb-2 mt-2 text-center">Produtos</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nome</th>
              <th scope="col">Descrição</th>
              <th scope="col">Preço</th>
              <th scope="col">Quantidade</th>
              <th scope="col" class="d-flex justify-content-center">Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <th scope="row">{{product.id}}</th>
              <td>{{product.name}}</td>
              <td>{{product.desc}}</td>
              <td>{{product.price}}</td>
              <td>{{product.qnt}}</td>
              <td class="d-flex justify-content-end">
                <button class="btn btn-rgb btn-text-light btn-hover" type="button" (click)="edit(product)">Alterar</button>
                <button class="btn btn-danger ms-3 " type="button" (click)="delete(product)">Deletar  </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
</div>
