.bg-rgb {
  background-color: #FFE3E0;
}

.border-color{
  border-color: #F7A399;
}

.btn-rgb{
  background-color:#EF6351;

}

.btn-hover:hover{
  background-color: #F59B8F;
}

.btn-text-light{
  color: aliceblue;
}

.custom-color{
  color: #EF6351;
}


.input-focus:focus{
  border-color: #F7A399;
  box-shadow: 0 0 0 0.2rem #F7A399;
}

.custom-label {
  color: #0D324D;
}
/* You can add global styles to this file, and also import other style files */
